.navbar-dark {
  background-color: #380369;
}
.jumbotron{
  background-color: #0b1552;
 
}

.footer{
  background-color: #0b1552;
}

body{
  background-color: black;
}

.purple {
  background-color: #380369;
}

.blue{
  background-color: #0b1552;
}
